body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 20px;
}

input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
}

/* כפתור העלאה */
#uploadBtn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 5px;
}

#uploadBtn:hover {
    background-color: #c0392b;
}

/* קונטיינר לכפתורי ההורדה */
#downloadButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px; /* מרווח בין הכפתורים */
    margin-top: 10px;
}

/* כפתור הורדת TXT */
#downloadTxtBtn {
    background-color: #3498db; /* צבע לכפתור TXT */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#downloadTxtBtn:hover {
    background-color: #2980b9;
}

/* כפתור הורדת CSV */
#downloadCsvBtn {
    background-color: #2ecc71; /* צבע לכפתור CSV */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#downloadCsvBtn:hover {
    background-color: #27ae60;
}

/* כפתור ההעתקה */
#copyBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

#copyBtn:hover {
    background-color: #45a049;
}

#copyMessage {
    font-size: 14px;
    color: green;
    display: inline;
    margin-left: 10px;
}

/* עיצוב תיבת התגובה */
#response {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 600px;
    max-height: 400px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

/* עיצוב רכיב ההתקדמות */
.progress-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

#progressBar {
    width: 0;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease;
}

.transcription-container {
    margin-top: 20px;
    text-align: right;
    position: relative;
}
